  .container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0; 
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #0a763e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #260748;
    color: white;
  }

  .navFixedRight{
    float: right;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #0a763e;
    text-align: center;
  }